<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lei.admin.mapper.TinymceMapper">
    <select id="getArticleByClassificationId" resultType="com.lei.admin.vo.ArticleAllVO">
        SELECT
            t.id,
            t.title,
            t.classification_id,
            t.summary,
            t.create_time,
            t.content,
            su.username,
            su.avatar,
            IFNULL(fc.click_count,0) click_count
        FROM
            tinymce t
                LEFT JOIN sys_user su ON t.write_user = su.username
                LEFT JOIN fiery_count fc ON t.id = fc.resource_id
        WHERE
            t.is_article = 1
            AND t.state = 1
            AND t.is_public = 1
        <if test="classificationId != null and classificationId != ''">
            AND t.classification_id = #{classificationId}
        </if>
    </select>

    <select id="getArticleById" resultType="com.lei.admin.vo.ArticleAllVO">
        SELECT
            t.id,
            t.title,
            t.classification_id,
            t.summary,
            t.create_time,
            t.content,
            su.username,
            su.avatar,
            IFNULL(fc.click_count,0) click_count
        FROM
            tinymce t
                LEFT JOIN sys_user su ON t.write_user = su.username
                LEFT JOIN fiery_count fc ON t.id = fc.resource_id
        WHERE
          t.is_article = 1
          AND t.state = 1
          AND t.id = #{tinymceId}
    </select>

    <select id="getArticle" resultType="com.lei.admin.vo.ArticleAllVO">
        SELECT
            t.id,
            t.title,
            t.classification_id,
            t.summary,
            t.create_time,
            t.content,
            su.username,
            su.avatar,
            IFNULL(fc.click_count,0) click_count
        FROM
            tinymce t
            LEFT JOIN sys_user su ON t.write_user = su.username
            LEFT JOIN fiery_count fc ON t.id = fc.resource_id
        WHERE
            t.is_article = 1
            AND t.state = 1
            AND t.write_user = #{username}
    </select>

    <select id="getArticleByIds" resultType="com.lei.admin.vo.ArticleAllVO">
        SELECT
            t.id,
            t.title,
            t.classification_id,
            t.summary,
            t.create_time,
            t.content,
            su.username,
            su.avatar,
            IFNULL(fc.click_count,0) click_count
        FROM
            tinymce t
                LEFT JOIN sys_user su ON t.write_user = su.username
                LEFT JOIN fiery_count fc ON t.id = fc.resource_id
        WHERE
            t.is_article = 1
          AND t.state = 1
          AND t.id in
        <foreach collection="ids" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getRecentlyRead" resultType="com.lei.admin.vo.RecentlyReadVO">
        SELECT
            fc.resource_id,
            fc.happen_time,
            t.write_user ,
            t.title
        FROM
            fiery_count fc
            JOIN tinymce t ON fc.resource_id = t.id
        WHERE
            user_name = #{username}
            AND resource_type = 2
            AND t.write_user != #{username}
        ORDER BY
            happen_time DESC
            LIMIT 0,5
    </select>

    <select id="getTopReadOne" resultType="com.lei.admin.vo.RecentlyReadVO">
        SELECT
            fc.resource_id,
            fc.happen_time,
            t.write_user,
            t.title
        FROM
            fiery_count fc
            JOIN tinymce t ON fc.resource_id = t.id
        WHERE
            resource_type = 2
        ORDER BY
            fc.click_count DESC
            LIMIT 0,3;
    </select>
    <select id="getTopReadTwo" resultType="com.lei.admin.vo.RecentlyReadVO">
        SELECT
            fc.resource_id,
            fc.happen_time,
            t.write_user,
            t.title
        FROM
            fiery_count fc
            JOIN tinymce t ON fc.resource_id = t.id
        WHERE
            resource_type = 2
          AND t.classification_id IN ( SELECT id FROM classification WHERE parent_id = #{id} )
        ORDER BY
            fc.click_count DESC
            LIMIT 0,3;
    </select>

    <select id="getTopReadThree" resultType="com.lei.admin.vo.RecentlyReadVO">
        SELECT
            fc.resource_id,
            fc.happen_time,
            t.write_user,
            t.title
        FROM
            fiery_count fc
                JOIN tinymce t ON fc.resource_id = t.id
        WHERE
            resource_type = 2
          AND classification_id = #{id}
        ORDER BY
            fc.click_count DESC
            LIMIT 0,3;
    </select>



</mapper>
