<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lei.obtain.mapper.TinymceFavoritesMapper">
    <select id="listAll" resultType="com.lei.obtain.vo.FavoriteArticleVO">
        SELECT
            t.title,
            tf.time,
            tf.tinymce_id,
            t.write_user
        FROM
            tinymce_favorites tf
            JOIN tinymce t ON tf.tinymce_id = t.id
        WHERE
            tf.username = #{username}
            AND tf.status = 1
    </select>
</mapper>
